
  #profileTable {
	width: 50%;
}

    table, th, td {
      border: 1px solid gray;
      border-collapse: collapse;
    }
    
    tr, td {
		margin: 0 auto;
		padding: 0;
		text-align: center;
	}
    td input {
		border: 0px;
		padding: 0;
		width: 100%;
		height: 40px;
		font-size: 100%;
	}
    td button, tr button {
		border: solid 1px;
		border-radius: 10px;
		padding: 2px;
		width: 95%;
		height: 95%;
		font-size: 100%;
		margin: 0 auto;
	}
	
    button {
      margin: 4px;
    }
    th {
		height: 40px;
	}
    .status-indicator {
      display: inline-block;
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }
    .custom-file-button {
  background: #a85;
  color: white;
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  	}
  	
 #roasting-indicator {
  width: 16px;
  height: 16px;
  background-color: #0000ff;
  border-radius: 50%;
  animation: blink 1s infinite ease-in-out;
  margin: 8px;
  }

@keyframes blink {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}

.hidden {
  display: none;
  }

  #table_contents {
	display: flex;
}

.table-button {
	height: 40px;
}

#profileTitle, #profileMemo {
	border-top: none;
	border-left:none;
	border-right: none;
	border-bottom: solid 1.5px #444;
	width: 300px;
}

.profile-meta {
		padding: 10px;

#display_area {
	display: grid;
}
}




